body {
	background-color: #1a237e;
}

.main{
	border:3px solid black;
	height: 88vh;
	width: 70vw;
	margin: auto;
	background-color: #3f51b5;



}
.top{
	border:3px solid black;
	width: 90%;
	height: 20%;
	margin: auto;
	background-color: #1a237e;

}

.center{
	border:3px solid black;
	width: 90%;
	height: 57.5%;
	margin: auto;
	background-color: #1a237e;

}

.bottom{
	border:3px solid black;
	width: 90%;
	height: 20%;
	margin: auto;
	background-color: #1a237e;

}

button{
background:radial-gradient(blue, #303030);
border: solid;
border-color: #303030;
border-width: 2px;
border-radius:30px;
color: aliceblue;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.Login{
	border:3px solid black;
	width: 24vw;
	margin-left: auto;
	margin-right: auto;


}
