<!DOCTYPE html>
<html>
<head>
	<title>Welcome to whats their face</title>
	<link rel="stylesheet" type="text/css" href="/pluggy.css">
</head>
<body>
	<div class="main">
		<div class="top">

		
	<%= template %>
			
		</div>

		<div class="center">

		</div>

		<div class="bottom">

		</div>
	


	</div>
</body>
</html>